.App {
  text-align: center;
  height: 100%;
  flex-flow: column;
}

.map {
  overflow: auto;
  height: 90%;
  flex: 1 1 auto;
}

.header {
  background-color: #222;
  height: 10%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  flex: 0 1 auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
